<div class="relative w-full h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-white">
  <div class="absolute top-4 left-4 z-10">
    <button (click)="controlsCollapsed = !controlsCollapsed" 
            class="bg-opacity-75 p-2 rounded-full mb-2"
            [ngClass]="{'bg-gray-800 text-white': true, 'bg-white text-black shadow-lg': false}">
      <svg *ngIf="controlsCollapsed" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      <svg *ngIf="!controlsCollapsed" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <div *ngIf="!controlsCollapsed" class="bg-opacity-75 p-4 rounded-lg w-72" [ngClass]="{'bg-gray-800 text-white': true, 'bg-white text-black shadow-lg': false}">
      <button routerLink="/" class="flex items-center text-lg font-bold mb-4 w-full text-left p-2 rounded-lg shadow-md bg-gray-700 hover:bg-gray-600 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
        <span>Menú/Extractor de Paletas</span>
      </button>
      
      <h1>Extractor de Paletas</h1>
    </div>
  </div>
</div>
