<div class="flex flex-col mt-2 items-center justify-start h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-white">
  <h1 class="text-3xl font-bold">Herramientas de arte</h1>
  <p class="text-lg text-gray-600 dark:text-gray-400 mb-8">IBA de noche V: 0.0.2</p>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-start">
    <a routerLink="/asistente-de-perspectiva" class="block p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 bg-white dark:bg-gray-800">
      <h2 class="text-2xl font-semibold mb-2">Asistente de Perspectiva</h2>
      <p class="text-gray-600 dark:text-gray-400">Crea cuadrículas o matrices de perspectiva para sus dibujos o diseños.</p>
    </a>

    <a routerLink="/extractor-de-paletas" class="block p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 bg-white dark:bg-gray-800">
      <h2 class="text-2xl font-semibold mb-2">Extractor de Paletas</h2>
      <p class="text-gray-600 dark:text-gray-400">Una herramienta para analizar, extraer o gestionar paletas de colores.</p>
    </a>

    <a routerLink="/camara-lucida-digital" class="block p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 bg-white dark:bg-gray-800">
      <h2 class="text-2xl font-semibold mb-2">Cámara Lúcida Digital</h2>
      <p class="text-gray-600 dark:text-gray-400">Emula una cámara lúcida, permitiendo al usuario superponer una imagen de referencia sobre su área de trabajo para calcar o dibujar con precisión. Además ofrece algunas plantillas de composición.</p>
    </a>
  </div>
</div>